extends layout

block content
    h1 #{title}

    form(action="/new-post" method='POST')
        label(for="title") Post: 
        input(name='title', type="text" required )
        br
        label(for="desc") About: 
        input(name ="desc" type='text' )
        br 
        button(type="submit") Submit


    
    p  
        a(href="/") Home Page