extends layout

block content 
    h1= title
    form(method="POST")
        
        label(for="username" ) Username:
        input(name="username",placeholder="Username" type='username'  required)
        br
        label(for="email") Email: 
        input(name='email', type='email', placeholder ='email' required) 
        br
        label(for="password") Password: 
        input(name="password", placeholder="Password", type="password" required)
        br
        label(for="confirmPassword") Confirm Password
        input(name="confirmPassword", placeholder="password" type="password" required)
        br
        button() Sign Up!