:root{
  --primary-light: rgb(239, 240, 241);
  --primary-dark:rgb(39, 38, 38);
}

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: var(--primary-light);
  color: var(--primary-dark);
}

a {
  color: #2b58d1;
  text-decoration: none;
}

a:hover{
  text-shadow: 2px 2px 5px #2b58d1;

}

button{
  border: none;
  border-radius: 10px;
  background-color: #4772e7;
  color: aliceblue;
  height: 30px;
}
button:hover{
  background-color: aliceblue;
  color:#4772e7;
  border: 1px solid #4772e7;
}

.homePageButtons{
  margin-right: 5px;
  margin-top: 10px;
}